<div id="job-view-container" class="container">
    <div class="row text-center">
        <div id="img-container" class="col-md-12">
            <img src="/logo/{{job.dataValues.id}}.jpg" alt="Image Company">
        </div>
        <div class="col-md-12">
            <h1 id="title-view-vaga" class="main-color">{{job.dataValues.title}}</h1>
            <p  id="subtitle-view-vaga" class="bold">Responsabilidades:</p>
            <p class="job-desc">{{job.dataValues.description}}</p>
            <p><span class="bold">Salário oferecido:</span> R$ {{job.dataValues.salary}},00</p>
            <p> 
                Para trabalhar na empresa <span class="bold main-color">{{job.dataValues.company}}</span> envie um e-mail para: <a class="link-view" href="email:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
            </p>
        </div>
    </div>
</div>